@model IEnumerable<ReservaSalas.Models.Reserva>

@{
    ViewData["Title"] = "Minhas Reservas";
}

<h1 class="text-center">Minhas Reservas</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-secondary opacity-75">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sala.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala.Capacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Nome)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Sala.Capacidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NormalizedUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataReserva)
            </td>
                <td>
                    @item.HoraInicio.ToString(@"hh\:mm")
                </td>
                <td>
                    @item.HoraFim.ToString(@"hh\:mm")
                </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-sm btn-success" asp-action="Details" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
